body {
  display: block;
  margin: 0px;
}

.container-login {
  h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }
  &-email {
    label {
      color: white;
      margin-right: 79px;
      margin-top: 10px;
    }
  }
  &-password {
    margin-top: 30px;
    label {
      color: white;
      margin-right: 50px;
      margin-top: 10px;
    }
  }
  button {
    margin-top: 30px;
    width: 400px;
    height: 30px;
    font-weight: 600;
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.872);
    align-items: center;
    justify-content: center;
    display: flex;
    &:hover {
      background-color: rgb(3, 15, 24);
      transition: 0.3s linear;
      color: white;
    }
  }
}
#email {
  color: rgb(240, 255, 240);
}

#password {
  color: rgb(240, 255, 240);
}
